body{
  background-color: rgb(232, 162, 238);
}

body > div{
  width: 100%;
  height: 100vh;
}

.container-num{
  color: white;
  background-color: rgb(33, 40, 80);
  width: 500px;
  height: 250px;
  border-radius: 15px;
  box-shadow:2px 2px gray;
}